<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organisation.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organisation.address %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
